{% include 'header.html' %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5 mt-4">
        <h1 class="display-2 text-white mb-3 animated slideInDown">Pemerintahan</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                <li class="breadcrumb-item" aria-current="page">Pemerintahan</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Team Start -->
<div class="container-fluid container-team py-5">
    <div class="container pb-5">
        <div class="row g-5 align-items-center mb-5">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <img class="img-fluid w-100" src="../static/assets/img/Lurah.jpg" alt="">
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-6 mb-3">H. Suripto, S.Pd</h1>
                <p class="mb-1">Kepala Desa</p>
                <p class="mb-5">Balerejo, Dempet, Demak</p>
                <h3 class="mb-3">Biography</h3>
                <p class="mb-4">H. Suripto, S.Pd merupakan seorang kepala Desa dari desa Balerejo dari awal menjabat pada tahun 2023 sampai dengan sekarang.
                    Sebelum menjabat baliau adalah seorang guru di SMP N 3 Dempet 1988-2022 setelah itu pada tahun 2023 Beliau di Calonkan sebagai Kepaladesa dan terpilih lah beliau menjadi Kepala desa Balerejo                  </p>
                <div class="d-flex">
                    <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/Rauf.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Rouf Mukus D.</h5>
                        <span>Sekretaris Desa</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/chumaedi.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Cumaedi</h5>
                        <span>Ketua TU dan Umum</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/muklashin.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">H. Mushlasin</h5>
                        <span>Kaur Keuangan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/mutoin.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">H. Mutoin</h5>
                        <span>Kaur keuangan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/hatama.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Hattama Ilma Amiq</h5>
                        <span>Kasi Pemerintahan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/sigit.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Sigit Pamungkas</h5>
                        <span>Staff Kasi Pemerintahan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/yani.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Yani Widiyanto</h5>
                        <span>Kasi Kesejahteraan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/staf/rahul.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Rahul Aditya R.</h5>
                        <span>Kasi Pelayanan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/staf/anwar.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Anwar Said</h5>
                        <span>Staf Kasi Pelayanan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/irsyat2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">M.Irsyad</h5>
                        <span>Kadus Dukuh Tempel</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/Aris.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Aris Gunawan</h5>
                        <span>Kadus Dukuh Balong Kendal</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/Abdul.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Abdul Jalil</h5>
                        <span>Kadus Dukuh Gendok</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/agus.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Agus Saefudin</h5>
                        <span>Kadus Dukuh Maredan</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../static/assets/img/Staf/mahmudi.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square btn-light mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-1">Mahmudi</h5>
                        <span>Kadus Dukuh Duari</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

{% include 'footer.html' %}