{% include 'header.html' %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5 mt-4">
        <h1 class="display-2 text-white mb-3 animated slideInDown">Visi & Misi</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                <li class="breadcrumb-item" aria-current="page">Visi & Misi</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="../static/assets/css-blog/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="../static/assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="../static/assets/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets/vendors/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/scroll/jquery.mCustomScrollbar.css">
    <!-- main css -->
    <link rel="stylesheet" href="../static/assets/css-blog/style.css">
</head>
<br>

<!--================ Start Package Search Area =================-->
<section class="package-search-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h1>Visi & Misi</h1>
                    <p>Menjalankan Desa Balerejo desa yang tentram, Damai, Rukun, dan Sejahtera.
                        Yang berkemampuan menciptakan suasana yang baik dan Sejahtera
                    </p>
                    <p>
                        Misi
                        Untuk mewujudkan Visi, Misi yang akan dilakukan adalah sebagai berikut
                        Melanjutkan program yang telah dilaksanakan dan memelihara program-program
                        yang sudah dilakasanakan oleh pemerintah Desa Lengkap periode yang lalu sesuai dengan fungsinya
                            Menggali, memberdayakan serta memaksimalkan semua potensi yang ada di masyarakat, meliputi 
                            <br>
                            1. Pemberdayaan Sumber Daya Manusia (SDM)
                            <br>
                            2. Pemberdayaan Sumberdaya Alam (SDM)
                            <br>
                            3. Pemberdayaan Ekonomi Kerakyatan.
                            <br>

                    </p>                    
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="">
                    <img class="img-fluid w-85" src="../static/assets/img/profil.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About End -->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/assets/js-blog/jquery-3.2.1.min.js"></script>
    <script src="../static/assets/js-blog/popper.js"></script>
    <script src="../static/assets/js-blog/bootstrap.min.js"></script>
    <script src="../static/assets/js-blog/stellar.js"></script>
    <script src="../static/assets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../static/assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="../static/assets/vendors/isotope/isotope-min.js"></script>
    <script src="../static/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../static/assets/js-blog/jquery.ajaxchimp.min.js"></script>
    <script src="../static/assets/js-blog/mail-script.js"></script>
    <script src="../static/assets/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/assets/vendors/swiper/js/swiper.min.js"></script>
    <script src="../static/assets/vendors/scroll/jquery.mCustomScrollbar.js"></script>
    <script src="../static/assets/js-blog/theme.js"></script>

{% include 'footer.html' %}
